[class*="col"] {
   border: 1px solid black;
   height: 50px;
}


/* ######## Header ######## */

.navbar{
    height: 70px;
    min-width: 365px;
}

#search-bar{
    flex-grow: 1;
}


#logo-mobile img{
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.my-form-control{
width: 100%;

}

/* ######## Main ######## */


/* Aside */

aside{
    height: calc(100vh - 70px);
    width: 50px;
    background-color: aquamarine;
    font-size: 1rem;
}

.mobile-hidden{
    display: none;
}



 /* ------------------  Media Queris------------------ */
 
 
 /* // Small devices  (landscape phones, 576px and up) */
 @media (min-width: 576px) { 



 
 }
 
 /* // Medium devices  (tablets, 768px and up) */
 @media (min-width: 768px) { 

  



  }
 
 /* // Large devices  (desktops, 992px and up) */
 @media (min-width: 992px) { 



    /* Navbar */
    #logo-mobile{
        display: none;
    }

    /* Aside */

    aside{
        width: 100px;
    }

    .mobile-hidden{
        display: inline-block;
    }

  }